<div class="container">

    <h1 class="name">Dipeeka Rathod</h1>
    <div class="title">UI Designer / Front End Developer</div>
    <div class="profile">
        <p>Innovative, task-driven professional with 5+ years of experience in web development in web design and
            development
            across diverse industries. Equipped with a record of success in consistency identifying and providing the
            technological needs of companies through ingenious innovation. proficient in developing test cases, creating
            user interfaces, writing and testing codes,
            troubleshooting simple/complex issues, and implementing new features based on user feedback.</p>
    </div><!--//profile-->
</div>